body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background: rgb(69,104,220);
background: linear-gradient(to right, rgba(69,104,220,1) 24%, rgba(176,106,179,1) 100%);
}


header {
    background: rgb(69,104,220);
background: linear-gradient(to right, rgba(69,104,220,1) 24%, rgba(176,106,179,1) 100%);
    color: linear-gradient(to right, rgba(69,104,220,1) 24%, rgba(176,106,179,1) 100%);
    text-align: center;
    padding: 1rem;
}


#logo{
    width: 9rem;
    text-align: start;
    display: inline-block;
}

main img {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding: 1rem;
    width: 8rem;
    max-width: 100%;
}

.card-img-top{
    height: 60%;
    padding: 0;
}

h1 {
    text-align: center;
    right: 50%;
    
}


footer {
    margin-top: 5rem;
    text-align: center;
    padding: 1rem;
    background: rgb(69,104,220);
    background: linear-gradient(to right, rgba(69,104,220,1) 24%, rgba(176,106,179,1) 100%);
    color: #fff;
}



/* btn profile */

.btn-profile {
    font-family: 'Rubik', sans-serif;
    background-color: rgba(0, 0, 0, 0.1);
    border: none;
    border-radius: 20px;    
    color: white;
    font-size: 1.2rem;
    margin: 0 15px ;
    padding: 5px 25px;
    transition:  .5s ease-in;
    display: inline;
    
}

.divButton{
    width: 21rem;
    
}
.btn-profile:hover{
    color: #001F3F;
    border: none;
    background-color: white;
    transition:  .5s ease;
    
}
#profile{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    row-gap: 2rem; 
    column-gap: 2rem;   
    margin: 2rem;
    position: relative;
    margin-left: 10rem; 
}

/* cards */
.card{
    background-color: rgba(0, 0, 0, 0.1);
    height: 100%;
    width: 100%;
    box-shadow: 0 25px 38px rgba(0,0,0,0.30), 0 15px 12px rgba(0,0,0,0.22);
    
}
.card p{
    color: white;
    font-weight: bold;
}

 /*popup  */
.popup {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.7);
    z-index: 10;
  }
  .popup .left {
    position: relative;
    left: 10%;
    float: left;
  }
  .popup .right {
    position: relative;
    left: -5%;
    float: right;
  }
  
  .popup-content {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 500px;
    background: rgb(69,104,220);
    background: linear-gradient(to right, rgba(69,104,220,1) 24%, rgba(176,106,179,1) 100%);
    padding: 20px;
    border-radius: 10px;
  }

  .dixBold{
    font-weight: bold;
    font-size: 18px;
    padding: 8px;
  }


/* Scrollbar color */


::-webkit-scrollbar {
    height: 12px;
    width: 12px;
    background: rgb(174, 171, 171);
}

::-webkit-scrollbar-thumb {
    background-color: #F90;	
	background-image: -webkit-linear-gradient(45deg,
	                                          rgba(255, 255, 255, .2) 25%,
											  transparent 25%,
											  transparent 50%,
											  rgba(255, 255, 255, .2) 50%,
											  rgba(255, 255, 255, .2) 75%,
											  transparent 75%,
											  transparent)

}

::-webkit-scrollbar-corner {
    background: #000;
}

  #retour{
    display: flex;
    margin: auto;
    margin-top:4rem ;

}

.items {
    display: flex;
    flex-wrap: wrap;
}

.item {
    width: 100px;
    height: 100px;
    margin: 10px;
    border: 1px solid #ccc;
    display: flex;
    align-items: center;
    justify-content: center;
}

.filter-buttons {
    margin-bottom: 10px;
}

.hide {
    display: none;
}


/* Error 404 */

.main-container{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 60vh;
    font-family: 'Libre Baskerville', serif;

}
.Error{
    position: relative;
    top: -10%;
    left: 28%;
    height: 20rem;
    background-color: white;
    background: rgba(0, 0,0, 0.2);
    border-radius: 2rem;

}
.pError{
    position: relative;
    top: 35%;
    left: 15%;
    color: white;
    font-size: 2rem;
    text-align: center;
}
.pMessage{
    position: relative;
    top: 50%;
    left: -4%;
    color: white;
    font-size: 2rem;
    text-align: center;

}


/* Retour bouton */
.retour{
    position: relative;
    top: 80%;
    left: -28%;
}


/* cgu */
.cgu{
    position: relative;
    left: 23px;
}
.onzeBold{
    font-weight: bold;
    font-size: 1.1rem;
    position: relative;
    left: 30px;
}
.cguLink{
    color: blue;
}
input[type="checkbox"]{
    cursor: pointer;
}